* {
  margin: 0;
}

#card-collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.web-card-wrapper {
  text-decoration: none;
  color: inherit;
}

.web-card {
  width: 230px;
  padding: 10px;
  position: relative;
}

.web-card .tooltip {
  opacity: 0;
  width: 120px;
  top: 0;
  left: 104%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.web-card:hover {
  transition: background-color ease-in 0.6s, color ease-in 0.6s;
  color: white;
  background-color: black;
}

.web-card:hover .tooltip {
  opacity: 1;
  transition: opacity ease-in 0.8s;
}

.web-card .tooltip::after {
  content: " ";
  position: absolute;
  top: 20%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.header {
  padding: 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipboard-button {
  margin-right: 5px;
}

.indicator {
  height: 13px;
  width: 13px;
  margin-left: 10px;
  border-radius: 100%;
}

.loading {
  background-color: gold;
}

.error {
  background-color: orangered;
}

.success {
  background-color: chartreuse;
}